@import url("https://fonts.maateen.me/siyam-rupali/font.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* font-family: 'SiyamRupali', sans-serif; */
/* font-family: 'Lato', sans-serif; */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
header#header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  background: #fff;
  padding-bottom: 20px;
}
.headerArea {
  overflow: hidden;
  background: #fff;
  padding-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
}

.logo {
  width: 220px;
  float: left;
}

.search {
  width: 54%;
  float: left;
}

input[type="Search"] {
  width: 100%;
  position: relative;
  padding: 12px;
  outline: none;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom: 3px solid #ff9900;
}

.searchIcon {
  width: 50px;
}

.searchIcon .fa-search {
  font-size: 20px;
  color: #fff;
  background: #0397d3;
  padding: 14px;
  position: absolute;
  top: 20px;
  right: 403px;
}
.cart {
  width: 58px;
  height: 33px;
  float: left;
  margin-left: 210px;
}

.cart img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.signIN {
  width: 85px;
  float: right;
}

input[type="button"] {
  background: #fff;
  padding: 8px 14px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  font-size: 17px;
}
input[type="button"]:hover {
  color: white;
  background-color: yellowgreen;
}
.logo img {
  width: 130px;
  height: 45px;
}
.firstMenue {
  width: 818px;
  margin-left: 245px;
}

.container {
  width: 1350px;
  margin: auto;
}

.firstMenue ul {
  list-style: none;
  margin: 0;
  margin-top: 96px;
  padding: 0;
  display: flex;
  justify-content: center;
}


.firstMenue ul li {
  float: left;
  margin-right: 5px;
}

.firstMenue ul li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 19px;
  color: #333;
}

.secoundMenue {
  overflow: hidden;
  border-top: 1px solid #89c4f4;
  margin-top: 1px;
}

.secoundMenue ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.secoundMenue ul li {
  float: left;
  margin-right: 15px;
}

.secoundMenue ul li a {
  text-decoration: none;
  padding: 12px 13px;
  font-size: 18px;
  color: #333;
}
li.firstaBorader a {
  border: 1px solid #89C4F4;
  border-bottom: 1px solid #fff;
}
.firstMenue ul li a i {
  margin-right: 5px;
  color: #d32f2f;
}

.secoundMenue ul li a i {
  font-size: 12px;
  position: absolute;
  top: 132px;
  right: 428px;
}
li.stokeProducs a {
  color: #ee8a62 !important;
}

li.bookFair a {
  color: #46cfb6 !important;
}

.writer {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.firstCatWriter ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.writer {
  display: flex;
  width: 85%;
  justify-content: space-between;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 160px;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s;
}

.firstCatWriter ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.mkHover a:hover+.writer{
  opacity: 1;
}